

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src="{{item.image}}" alt="image">
    <h5 class="card-title">{{item.title}}</h5>

    <p class="card-text">{{item.content|safe|truncatechars:300}}</p>
    <div>
      {% if user.is_authenticated %}
      <a href="/blog/delete/{{item.slug}}" class="card-link btn btn-danger">Delete ⛔</a>
      <a href="/blog/edit/{{item.slug}}" class="card-link btn btn-secondary">Edit 🖊</a>
      {% endif %}
      <a href="/blog/detail/{{item.slug}}" class="btn btn-success text-white">Read fully 📃</a>
    </div>
  </div>
</div>
