{% extends "base.html" %}
{% block head %}

<title>Searches</title>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-8 mx-auto">
        {% if query %}
        <p class="lead">You searched for <q>{{ query }}</q> </p>
        {% else %}
        <form class="form-inline my-2 my-lg-0" action="/search/">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        {% endif %}
        {% for blog_item in blog_list %}
          
        {% include 'list-inline.html' with item=blog_item truncate=True %}
          {% endfor %}
        {% endblock %}
    </div>
</div>  

{% block scripts %}

  <script>
    let cards = document.querySelectorAll('.card');
    let footer = document.querySelector('footer');
    if(cards.length < 2) {
      footer.style.position = "relative";
      footer.style.top = "40%";
    }
    
  </script>

{% endblock %}